# Adminer
ADMINER_PORT=8083

# Azure Service Bus Emulator
AZ_SVC_BUS_PORT=5672
AZ_SVC_BUS_MGMT_PORT=5300
SQL_SERVER=mssql
MSSQL_SA_PASSWORD=Foodcore@123
ACCEPT_EULA=Y
SQL_WAIT_INTERVAL=15

# SMTP (MailDev)
SMTP_PORT=1025
SMTP_UI_PORT=1080

# Azure Blob Storage Emulator (Azurite)
AZURE_BLOB_BLOB_PORT=10000
AZURE_BLOB_QUEUE_PORT=10001
AZURE_BLOB_TABLE_PORT=10002

# LocalStack (AWS Emulator)
LOCALSTACK_EDGE_PORT=4566
LOCALSTACK_REGION=us-east-1
LOCALSTACK_SERVICES=cognito-idp
LOCALSTACK_DEBUG=1
LOCALSTACK_AUTH_TOKEN=localstack_token
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test