# OTEL CONTRIB
OTEL_GRPC_PORT=4320
OTEL_HTTP_PORT=4321

# JAEGER
JAEGER_UI_PORT=16686
JAEGER_COLLECTOR_PORT=14250

# GRAFANA LOKI
GRAFANA_LOKI_PORT=3100

# GRAFANA
GRAFANA_PORT=3000

# PROMETHEUS
PROMETHEUS_PORT=9090