name: CI Pipeline

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main

permissions:
  id-token: write
  contents: read
  actions: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: terraform

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Login Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Configure AWS CLI
        run: |
          mkdir -p ~/.aws
          echo "${{ secrets.AWS_CREDENTIALS }}" > ~/.aws/credentials

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Fmt
        id: fmt
        run: terraform fmt

      - name: Terraform Init
        run: |
          terraform init \
            -backend-config="resource_group_name=${{secrets.BACKEND_AZURE_RESOURCE_GROUP_NAME}}" \
            -backend-config="storage_account_name=${{secrets.BACKEND_AZURE_STORAGE_ACCOUNT_NAME}}" \
            -backend-config="container_name=${{secrets.BACKEND_AZURE_STORAGE_ACCOUNT_CONTAINER_NAME}}" \
            -backend-config="subscription_id=${{secrets.AZURE_SUBSCRIPTION_ID}}" \
            -backend-config="key=${{secrets.BACKEND_AZURE_KEY}}"

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

      - name: Terraform Plan
        id: plan
        run: terraform plan -out=tfplan
        env:
          TF_VAR_subscription_id: ${{secrets.AZURE_SUBSCRIPTION_ID}}
          TF_VAR_location: ${{secrets.AZURE_REGION}}
          TF_VAR_aws_location: ${{secrets.AWS_REGION}}
          TF_VAR_aws_credentials: ${{secrets.AWS_CREDENTIALS}}
          TF_VAR_server_mail_username: ${{secrets.SERVER_MAIL_USERNAME}}
          TF_VAR_server_mail_password: ${{secrets.SERVER_MAIL_PASSWORD}}
          TF_VAR_server_mail_host: ${{secrets.SERVER_MAIL_HOST}}
          TF_VAR_server_mail_port: ${{secrets.SERVER_MAIL_PORT}}
          TF_VAR_server_mail_from: ${{secrets.SERVER_MAIL_FROM}}
          TF_VAR_newrelic_license_key: ${{secrets.NEWRELIC_LICENSE_KEY}}

      - name: Upload Terraform Plan
        uses: actions/upload-artifact@v4
        with:
          name: tfplan
          path: terraform/tfplan